<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div id="d">
    <form method="post" action="/form" id="f">
        <input type="text" name="name" placeholder="Enter ur name"><br><br>
        <input type="text" name="reg" placeholder="Roll number"><br><br>
        <select id="branch" name="branch">
            <option value="CSE">CSE</option>
            <option value="IT">IT</option>
            <option value="AIML">AIML</option>
          </select><br><br>
          <textarea id="text" rows="6" cols="14" name="content"></textarea><br><br>
          <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>